{% extends 'base.html' %}
{% block nav %}
<nav>
        <a href="/">REPEATER/</a>
        <ul>
                <li><a href="https://m17project.org">M17Project.org<a></li>
                <li><a href="https://github.com/M17-Project/REPEATER">source@github</a></li>
                <li><a href="#">Data</a>
                        <ul>
                                <li><a href="#">Database Dumps</a></li>
                                <li><a href="#">API and docs</a></li>
                                <li><a href="#">Data Standards</a></li>
                                <li><a href="#">Other ways to share data</a></li>
                        </ul>
                </li>
        </ul>
</nav>
{% endblock %}
